<div
  style="
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 60px;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
  "
>
  <a href="/" style="text-decoration: none; color: #333">Home Page</a>
  <br />
  <a href="/admin" style="text-decoration: none; color: #333">Admin Page</a>
  <br />
  <a href="/api" style="text-decoration: none; color: #333"
    >Django Rest Framework</a
  >
  <br />
  {% if request.user.is_authenticated %}
  <a href="/add_pose" style="text-decoration: none; color: #333"
    >Add New Pose</a
  >
  <br />
  <a href="{% url 'logout' %}" style="text-decoration: none; color: #333"
    >Logout</a
  >
  <br />

  {% else %}
  <a href="{% url 'register' %}" style="text-decoration: none; color: #333"
    >Register</a
  >
  <br />
  <a href="{% url 'login' %}" style="text-decoration: none; color: #333"
    >Login</a
  >
  <br />

  {% endif %}
</div>
<br />
